.DS_Store
/BootCamp_GoStack/conceitos-dev/backend/node_modules
/BootCamp_GoStack/conceitos-dev/frontend/node_modules
/BootCamp_GoStack/.DS_Store
/BootCamp_GoStack/conceitos-dev/.DS_Store
/BootCamp_GoStack/desafios/conceitos-nodejs/node_modules
/BootCamp_GoStack/desafios/conceitos-reactjs/node_modules
/semanaoministack11/aulas/backend/node_modules
/semanaoministack11/aulas/frontend/node_modules
/leaderboard-redis/node_modules
/NextLevelWeek1_Basic/aulas/server/node_modules
/NextLevelWeek2_Basic/aulas/server/node_modules
/NextLevelWeek2_Advanced/aulas/web/node_modules
